.expressive-code {
    .frame {
        @apply !shadow-none;
        border: 1px solid var(--codeblock-border, rgba(0, 0, 0, 0.1));
    }

    .title {
        font-family: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}